
@{
    ViewBag.Title = @Html.Raw(ViewBag.tit);
    ViewBag.des = @Html.Raw(ViewBag.des);
    ViewBag.key = @Html.Raw(ViewBag.key);
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}


@{Html.RenderAction("_NavMenu", "Home_PartialView");}
<div id="trongkhung">
    <div class="wrap xaydung">
        <div class="main">
            <img alt="" src="~/Content/Images/pic1b.jpg">
            <div class="xayphai">
                <p>Seiken là công ty đại diện hợp pháp và duy nhất cho Viện điều trị ung thư của Nhật tại Việt Nam.</p>
<p>Seiken ra đời với sứ mệnh:</p>
                <p>- Kết nối các bệnh nhân ung thư tại Việt Nam sang Nhật Bản điều trị.</p>
                <p>- Liên kết các tổ chức bệnh viện ở Việt Nam với Nhật Bản để đưa công nghệ mới công nghệ miễn dịch tết bào của Nhật về các bệnh viện ở Việt Nam tạo cơ hội cho các bệnh nhân có thể chữa trị bệnh ngay tại quê nhà, đưa bệnh viện Việt Nam vươn xa cùng thế giới.</p>
                <p>- Cung cấp các sản phẩm hỗ trợ điều trị và phục hồi sau điều trị ung thư.</p>
<p class="imgxay"><img alt="" src="~/Content/images/line1.png"></p>
            </div>
        </div>
    </div>

    <div class="wrap dieugi">
        <div class="main">
            <h2><span>Công nghệ điều trị ung thư miễn dịch tế bào</span></h2>
        </div>
    </div>

    <div class="wrap bacsigioi">
        <div class="main">
            <ul>
                <li>
                    <p>Công nghệ đột phá</p>
                    <img alt="" src="~/Content/images/icon1_fix.png">
                    <p>Phương pháp điều trị ung thư tiên tiến nhất, được áp dụng phổ biến tại Nhật Bản</p>
                </li>

                <li>
                    <p>Hiệu quả điều trị</p>
                    <img alt="" src="~/Content/images/icon2_fix.png">
                    <p>Tỷ lệ thành công 100% đối với ung thư giai đoạn 1 và 2.</p>
                    <p>Tỷ lệ thành công 76% đối với ung thư giai đoạn 3 (với IAP nhỏ hơn 580).</p>
                    <p>Tỷ lệ thành công 30% để kéo dài thêm 1 năm cho giai đoạn 4</p>
                </li>

                <li>
                    <p>Kết hợp với phương pháp khác</p>
                    <img alt="" src="~/Content/images/icon3_fix.png">
                    <p>Kết hợp tốt với các phương pháp khác như: phẫu thuật, xạ trị, hóa trị...vv</p>
                </li>

                <li>
                    <p>Không tác dụng phụ</p>
                    <img alt="" src="~/Content/images/icon4_fix.png">
                    <p>Không tác dụng phụ, không ảnh hưởng tới chất lượng cuộc sống.</p>
                </li>

                <li>
                    <p>Chống tái phát vô cùng hiệu quả</p>
                    <img alt="" src="~/Content/images/icon5_fix.png">
                    <p>Ngăn ngừa tái phát 1 cách triệt để, 98% không tái phát sau điều trị.</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrap camket">
        <div class="main">
            <h2><span>Cam kết của Seiken</span></h2>
            <div class="phuongcham">
                <p><img alt="" src="~/Content/images/dau2.png"> 100% chi phí của chúng tôi đều công khai, minh bạch và được nhập hệ thống cẩn thận. Bác sỹ sẽ đưa ra chi phí điều trị dự kiến cùng các liệu trình điều trị. Người bệnh có quyền lựa chọn liệu trình phù hợp nhất với  điều kiện kinh tế và tính chất công việc của mình.</p>
                <img alt="" src="~/Content/images/pic2b.jpg">
            </div>
            <div class="cuxu">
                <ul>
                    <li>
                        <img alt="" src="~/Content/images/pic3b.jpg">
                        <p>Cư xử bình đẳng, nhân ái, lịch sự, tôn trọng</p>
                    </li>

                    <li>
                        <img alt="" src="~/Content/images/pic4b.jpg">
                        <p>Tận tụy, cẩn thận, nhiệt tình, chu đáo, tất cả vì người bệnh</p>
                    </li>

                    <li>
                        <img alt="" src="~/Content/images/pic5b.jpg">
                        <p>Tận tình giải thích tình hình sức khỏe người bệnh cũng như kế hoạch điều trị cụ thể</p>
                    </li>

                    <li>
                        <img alt="" src="~/Content/images/pic6b.jpg">
                        <p>Cung cấp các kỹ thuật chữa trị và dịch vụ chăm sóc y tế tốt nhất</p>
                    </li>
                </ul>

                <ul>
                    <li>
                        <img alt="" src="~/Content/images/pic7b.jpg">
                        <p>Thông báo đầy đủ thông tin bệnh tình, không che giấu</p>
                    </li>

                    <li>
                        <img alt="" src="~/Content/images/pic8b.jpg">
                        <p>Tôn trọng quyền được biết, quyền riêng tư của bệnh nhân</p>
                    </li>

                    <li>
                        <img alt="" src="~/Content/images/pic9b.jpg">
                        <p>Thông báo các chi phí khám chữa liên quan trước khi tiến hành quá trình điều trị</p>
                    </li>

                    <li>
                        <img alt="" src="~/Content/images/pic10b.jpg">
                        <p>Luôn lắng nghe những ý kiến đóng góp chia sẻ và phàn nàn từ phía người bệnh</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrap nguyentac">
        <div class="main">
            <h2><span>nguyên tắc khám chữa</span></h2>
            <div class="uutien">
                <img alt="" src="~/Content/images/bg_bs.png">
                <div class="uutienphai">
                    <ul>
                        <li>
                            <p>Ưu tiên giải quyết các trường hợp đăng ký trước hoặc bệnh đang nguy kịch.</p>
                        </li>

                        <li>
                            <p>Luôn tuân thủ theo quy định trong quá trình khám chữa và xử lý thủ tục hành chính.</p>
                        </li>

                        <li>
                            <p>Không nhận hối lộ, không ưu tiên do có quan hệ móc nối.</p>
                        </li>

                        <li>
                            <p>Lịch sự, ân cần trả lời các câu hỏi của bệnh nhân và người nhà bệnh nhân.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="wrap sukhacbiet">
        <div class="main">
            <h2><span>sự khác biệt của Seiken</span></h2>
            <div style="background:#1597A7;padding:15px;color:#fff;margin-top:30px;">Dịch vụ chăm sóc chu đáo: Ngoài các công tác chăm sóc trước và trong quá trình khám - điều trị, Seiken còn cung cấp những bữa ăn dinh dưỡng miễn phí để bệnh nhân có thể mau chóng phục hồi, đồng thời cảm nhận được sự quan tâm an ủi chân thành từ chính Seiken.</div>
            <ul class="khacbiet">
                <li>
                    <img alt="" src="~/Content/images/icon_1.png">
                    <div class="khactrong">
                        <p>Dịch vụ phản hổi nhanh chóng:</p>
                        <p>Do mọi công tác quản lý đều được quản lý bởi hệ thống thông minh nên người bệnh có thể hoàn toàn chủ động và thuận tiện khi nhận kết quả chẩn đoán, kết quả xét nghiệm, kiểm tra của mình, vơi bớt sự bồn chồn lo lắng khi chờ đợi.</p>
                    </div>
                </li>

                <li>
                    <img alt="" src="~/Content/images/icon_2.png">
                    <div class="khactrong">
                        <p>Phục vụ liên tục:</p>
                        <p>
                            - Phòng khám phục vụ 365 ngày/năm</br>
                            - Đặc biệt khám chữa bệnh khi có hẹn trước ngoài giờ hành chính.
                        </p>
                    </div>
                </li>

                <li>
                    <img alt="" src="~/Content/images/icon_3.png">
                    <div class="khactrong">
                        <p>Bác sỹ, y tá thân thiện, tâm lý:</p>
                        <p>Bác sỹ và y tá, điều dưỡng viên luôn sẵn sàng lắng nghe những tâm tư nguyện vọng của người bệnh, quan tâm tới những thay đổi của người bệnh và đưa ra những lời khuyên hữu ích.</p>
                    </div>
                </li>

                <li>
                    <img alt="" src="~/Content/images/icon_4.png">
                    <div class="khactrong">
                        <p>Môi trường khám chữa sạch đẹp, ấm áp:</p>
                        <p>Môi trường khám chữa có ảnh hưởng rất lớn tới chất lượng điều trị và tâm lý người bệnh, vậy nên chúng tôi đã tạo dựng một không gian thoáng mà ấm áp, khiến người bệnh có cảm giác như đang ở nhà.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrap quanly">
        <div class="main">
            <h2><span>Công tác quản lý quán triệt và thống nhất</span></h2>
            <div class="quanlychung">
                <div class="quanlytrai">
                    <p>Hệ thống thông minh "Chính xác – Chặt chẽ - Bảo mật" được sử dụng để quản lý đa phương diện.</p>
                    <p>Phương diện tiếp nhận bệnh nhân.</p>
                    <p><img alt="" src="~/Content/images/news-thumb.png"></p>
                    <p>Phương diện quản lý thuốc</p>
                    <p>Phương diện thu phí</p>
                    <p>Phương diện quản lý cận lâm sàng</p>
                    <p>Phương diện khám bệnh</p>
                </div>
                <div class="quanlyphai">
                    <p>Seiken hiện đang áp dụng đồng nhất hệ thống quản lý thông minh cho toàn bộ quá trình từ khi tiếp nhận bệnh nhân tới khi phân tích và đóng bệnh án.</p>
                    <img alt="" src="~/Content/images/bg_bs2.png">
                </div>
            </div>
        </div>
    </div>
</div>

