<div class="toolleft2"></div>
<div class="toolcenter2">
    <div class="bullet1"></div>
    <div class="texttool">Album ảnh</div>
</div>
<div class="toolright2"></div>
<div class="than1" align="center">
    <marquee direction="up" onmouseover="stop()" onmouseout="start()" scrollamount="2" scrolldelay="1" height="400" width="195">
     @Html.Raw(ViewBag.Album)
    </marquee>




</div>
<div class="footersmall">
    @*<img src="/Content/images/bgfootersmall.jpg">*@
</div>