<div class="container-fluid home-module home-dress2">
    <div class="container">
        <div class="main-title"><div class="left"><h2 class="right">Áo dài</h2></div></div>
        <div class="inner">
            <ul class="bxslider" data-call="bxslider" data-options="slideMargin:0, autoReload:true" data-breaks="[{screen:0, slides:1, pager:false}, {screen:460, slides:2}, {screen: 768, slides:4}]">
                @Html.Raw(ViewBag.AoCuoiTruyenThong)
            </ul>
        </div>
    </div>
</div>



