<div class="site">Website: @Html.Raw(ViewBag.Website)</div>
<div class="email">Email:@Html.Raw(ViewBag.Email)</div>
<div class="fb">Facebook:@Html.Raw(ViewBag.Facebook)</div>   
<div class="phone">Số điện thoại: @Html.Raw(ViewBag.Phone)</div>
