<div class="toolleft2"></div>
<div class="toolcenter2">
    <div class="bullet1"></div>
    <div class="texttool">Rico.com</div>
</div>
<div class="toolright2"></div>
<div class="than1" align="center">

    <marquee direction="up" onmouseover="stop()" width="210px" height="400" onmouseout="start()" scrollamount="2" scrolldelay="1" style="width: 210px; height: 400px;">

        <div align="center">
            <a href="http://vava.org.vn" target="_blank">
                <img style="padding-bottom:5px;" width="170px" src="/Content/Images/picr1.png" title="Hội nạn nhân CDDC / Dioxin Việt Nam" border="0">
            </a>
        </div>


        <div align="center">
            <a href="http://tuyendungnamdinh.com" target="_blank">
                <img style="padding-bottom:5px;" width="170px" src="/Content/Images/picr2.gif" title="Sàn giao dịch việc làm Nam Định" border="0">
            </a>
        </div>

    </marquee>




</div>
<div class="footersmall">
    @*<img src="/Content/images/bgfootersmall.jpg">*@
</div>