<div id="bx-wrapper" class="bx-wrapper">
    <div class="bx-loading">
        <span>Loading...</span>
    </div>
    <div class="bx-content">
        <h2>Shushi Town</h2>
    </div>
    @Html.Raw(ViewBag.Slide)
    @*<div class="bx-thumbs">
        <a href="#" class="bx-thumbs-current" style="background-image:url(images/thumbs/1.jpg)"></a>
        <a href="#" style="background-image:url(images/thumbs/2.jpg)"></a>
        <a href="#" style="background-image:url(images/thumbs/3.jpg)"></a>
        <a href="#" style="background-image:url(images/thumbs/4.jpg)"></a>
        <a href="#" style="background-image:url(images/thumbs/5.jpg)"></a>
        <a href="#" style="background-image:url(images/thumbs/6.jpg)"></a>
        <a href="#" style="background-image:url(images/thumbs/7.jpg)"></a>
    </div>
    <div class="bx-container">
        <img src="images/large/1.jpg" alt="image01" title="Shushi Town" />
        <img src="images/large/2.jpg" alt="image02" title="Raw Love" />
        <img src="images/large/3.jpg" alt="image03" title="Freshness" />
        <img src="images/large/4.jpg" alt="image04" title="Crunchbite" />
        <img src="images/large/5.jpg" alt="image05" title="Flavour Bomb" />
        <img src="images/large/6.jpg" alt="image06" title="Tenderness" />
        <img src="images/large/7.jpg" alt="image07" title="Aroma Paradise" />
    </div>*@
    <div class="bx-overlay"></div>
</div>
