<div class="viencenter">
    <div class="phan2">
        <div class="phan21">
            <div class="toolcenterlager1"></div>
            <div class="toolcenterlager2">
                <div class="kcgioithieu">Giới thiệu</div>
            </div>
            <div class="toolcenterlager3"></div>
        </div>
        <div class="phan21">

            <div class="frameanh1">
                <a href="/">
                    <img src="@Html.Raw(ViewBag.GTImg)" width="140" border="0">
                </a>
            </div>
            <div class="framebutton1">
                <p style="text-align: justify"><span style="font-size: small"><span style="font-family: Arial">
                    @Html.Raw(ViewBag.GTContent)
                    </span></span></p>
            </div>
            <div class="framebutton2">
                <div class="button">
                    <div class="textbutton">
                        <a href="@Html.Raw(ViewBag.GTLink)">
                            Chi tiết ...
                        </a>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<div class="footerlager"></div>