<div class="toolleft2"></div>
<div class="toolcenter2">
    <div class="bullet1"></div>
    <div class="texttool">Liên kết website</div>
</div>
<div class="toolright2"></div>
<div class="than1">
    <div class="frameline" style="padding-bottom:7px; padding-top:7px;">
        <select name="ctl00$Lienket1$DropDownLienket" onchange="javascript:setTimeout('__doPostBack(\'ctl00$Lienket1$DropDownLienket\',\'\')', 0)" id="ctl00_Lienket1_DropDownLienket" class="boxDrop" style="font-size:11px;height:19px;width:180px;">
            <option selected="selected" value="0">Liên kết nhanh</option>
            <option value="http://cncs.com.vn">Thiết kế website</option>
        </select>
        <script language="javascript">
            function NewOpen(path) {
                if (path != 'about')
                    window.open(path, 'mywindow', '');
            }
        </script>
    </div>
</div>
<div class="footersmall">
    @*<img src="/Content/images/bgfootersmall.jpg">*@
</div>