<div class="container-fluid home-module home-news">
    <div class="container">
        <div class="main-title"><div class="left"><h2 class="right">Cẩm nang cưới</h2></div></div>
        <div class="inner">
            @Html.Raw(ViewBag.News)
        </div>
    </div>
</div>



