<div class="toolleft2"></div>
<div class="toolcenter2">
    <div class="bullet1"></div>
    <div class="texttool">Nhà tài trợ Vàng từ 2016</div>
</div>
<div class="toolright2"></div>
<div class="than1" align="center">

    <marquee direction="up" onmouseover="stop()" width="210" height="400" onmouseout="start()" scrollamount="2" scrolldelay="4" style="width: 210px; height: 400px;">
 @Html.Raw(ViewBag.ShowNhaTaiTro)     
    </marquee>



</div>
<div class="footersmall">
    @*<img src="/Content/images/bgfootersmall.jpg">*@
</div>