<div class="container-fluid home-module home-album">
    <div class="container">
        <div class="main-title"><div class="left"><h2 class="right">Album ảnh cưới</h2></div></div>
        <div class="inner">
            <ul class="bxslider" data-call="bxslider" data-options="slideMargin:0, autoReload:true" data-breaks="[{screen:0, slides:1, pager:false}, {screen:460, slides:2}, {screen: 768, slides:1}]">
                @Html.Raw(ViewBag.PhotoAlbum)
            </ul>
            </div>
        </div>
    </div>

