<aside id="side_bar">
    <div class="chuyenkhoa"><span>ĐIỀU TRỊ UNG THƯ</span></div>
    <div class="category-list">
        <ul>
            @Html.Raw(ViewBag.PostMenu)
        </ul>
    </div>
</aside>