<div class="toolleft1"></div>
<div class="toolcenter1">
    <div class="bullet1"></div>
    <div class="texttool">Video tài liệu</div>
</div>
<div class="toolright1"></div>
    @*@Html.Raw(ViewBag.VideoTaiLieu)*@
    <div class="than1">


        <object width="210" height="220" type="application/x-shockwave-flash" data="http://www.youtube.com/v/EyQA4t3VP_s">
            <param name="movie" value="http://www.youtube.com/v/EyQA4t3VP_s">
            <param name="wmode" value="transparent">

        </object>


        <object width="210" height="220" type="application/x-shockwave-flash" data="http://www.youtube.com/v/F04TlX1ah5M&amp;feature=player_embedded">
            <param name="movie" value="http://www.youtube.com/v/F04TlX1ah5M&amp;feature=player_embedded">
            <param name="wmode" value="transparent">

        </object>


    </div>
<div class="footersmall">
    @*<img src="/Content/images/bgfootersmall.jpg">*@
</div>