<div class="toolleft2"></div>
<div class="toolcenter2">
    <div class="bullet1"></div>
    <div class="texttool">Thống kê trực tuyến</div>
</div>
<div class="toolright2"></div>
<div class="than1">
    <div class="framesmall14">

        <div class="textonline">
            <span id="ctl00_Luotcapnhat1_lblTitleVisited">Lượt truy cập:</span>
            <strong><span id="ctl00_Luotcapnhat1_lblVisited">@Html.Raw(ViewBag.PageView)</span></strong>
        </div>
        <div class="textonline">
            <span id="ctl00_Luotcapnhat1_lblTotalOnline">Đang trực tuyến:</span>
            <strong>
                @Html.Raw(ViewBag.Online)
            </strong>
        </div>
    </div>
</div>
<div class="footersmall">
    @*<img src="/Content/images/bgfootersmall.jpg">*@
</div>
   