<div class="ui-corner-top ui-corner-bottom">
    <div id="toolbox">

        <div style="float: right;" class="toolbox-content">

            <table class="toolbar">
                <tr>
                    @*<td align="center">
                        <a href="/admin/phan-hoi/xem-chi-tiet" title="Làm mới" class="toolbar btn btn-info"><i class="icon-refresh"></i>&nbsp;Làm mới (F5)</a>
                    </td>*@  
                    <td align="center">
                        <a title="Quay lại" class="toolbar btn btn-info" href="javascript:history.go(-1)"><i class="icon-chevron-left"></i>&nbsp;Trở về</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>