<div id="banner">
    <div class="main">
        <div class="left zoomInRight4">
        <img alt="bác sĩ" src="~/Content/Images/pic1_banner.png" /> </div>
        <div class="right">
        <div class="bn1 zoomInRight1"><img src="~/Content/Images/pic2_banner.png" alt="Bệnh ung thư"></div>
        <div class="bn2 zoomInRight3"><img src="~/Content/Images/pic3_banner.png" alt="Hiểm họa của mọi gia đình"></div>
        <div class="bn2 zoomInRight3"><img src="~/Content/Images/pic4_banner.png" alt="Bảo vệ sức khỏe"></div>
        <div class="bstuvan tuvand"><a href="/" title="Bác sĩ tư vấn" rel="nofollow"></a></div>
         </div> </div>

    <div class="clear"></div>
    </div>