
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Giới thiệu Phòng Khám Đa Khoa Thái Hà</title>
    <meta name="Description" content="." />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="css3.css" />
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/4A6B5979-41D4-6B47-966A-45416D061368/main.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="images/jquery-1.8.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="images/ref.js"></script>
    <script language="javascript" type="text/javascript" src="js/uikit.js"></script>
    <script language="javascript" type="text/javascript" src="js/uikit.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/js.js"></script>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script>
$.noConflict();
jQuery(document).ready(function(){
jQuery( ".datepicker" ).datepicker();
});
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="left_menu none">
            <ul>
                <li><a title="Trang Chủ" href="http://benhxahoi.xyz/"><img src="images/mobile/home.png" alt="Trang chủ" /></a></li>
                <li><a href="/gioi-thieu/" title="Giới thiệu">Giới thiệu</a></li>
                <li><a href="/co-so-vat-chat/" title="Cơ sở vật chất">Cơ sở vật chất</a></li>
                <li><a href="/goi-dich-vu/" title="Gói dịch vụ">Gói dịch vụ</a></li>
                <li><a href="/huong-dan-va-chi-phi/" title="Hướng dẫn và chi phí">Hướng dẫn và chi phí</a></li>
                <li><a href="/lien-he/" title="Liên hệ">Liên hệ</a></li>
            </ul>
            <ul class="danhmuc">
                <li>Điều trị</li>
                <li class="showhi">
                    <a title="http://benhxahoi.xyz/">Bệnh xã hội</a>
                    <ul class="subcat">
                        <li><a href="/sui-mao-ga.html">Sùi mào gà</a> </li>
                        <li><a href="/benh-lau.html">Bệnh lậu</a> </li>
                        <li><a href="/benh-giang-mai.html">Bệnh giang mai</a> </li>
                        <li><a href="/mun-rop-sinh-duc.html">Mụn rộp sinh dục</a> </li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="carea">

            <div class="toptop none">
                <div class="btn_menu" id="sib_btn"><img src="images/mobile/menu.png" /></div>
                <div class="htop">
                    <a href="http://#/" title="Phòng khám Thái Hà"><img src="images/mobile/logo.png" alt="Phòng khám Thái Hà" /></a>
                </div>
            </div>


            <header>
                <div id="toptop" class="block">
                    <div class="main">
                        <div class="share">
                            <div class="addthis_toolbox share">
                                <a title="Facebook" class="addthis_button_facebook at300b">
                                    <img border="0" alt="Share to Facebook" src="images/icon_face.png">
                                </a>
                                <a title="Tweet" class="addthis_button_twitter at300b">
                                    <img border="0" alt="Share to Twitter" src="images/icon_twiter.png">
                                </a>
                                <a title="Printerest" class="addthis_button_pinterest_share at300b">
                                    <img border="0" alt="Share to printerest" src="images/printerest.png">
                                </a>
                                <a title="Google+" target="_blank" class="addthis_button_google_plusone_share">
                                    <img border="0" alt="google bookmark" src="images/google.png">
                                </a>
                            </div>
                        </div>
                        <div class="toptop-nav">
                            <ul class="">
                                <li><span><i>Xây dựng phòng khám trở thành đơn vị y tế được tin yêu nhất Hà Nội.</i></span></li>
                            </ul>
                        </div>
                        <div class="top-search">
                            <form accept-charset="utf-8" method="post" action="http://benhxahoi.xyz/tim-kiem">
                                <div class="search404">
                                    <input type="text" placeholder="Tìm kiếm" required="" name="search" class="input">
                                    <input type="submit" value="Tìm kiếm" name="" class="button">
                                </div>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="htop" class="block">
                    <div class="logo"><img src="images/logo.png" alt="Phòng khám Thái Hà"></div>
                </div>
                <div class="logo-phone block">
                    <img title="Phòng khám đa khoa Thái Hà" alt="Phòng khám đa khoa Thái Hà" src="images/logo.png">
                    <img title="Cơ sở y tế" alt="Cơ sở y tế" src="images/cosouytin.png">
                    <img title="01665116117" alt="01665116117" src="images/tel.png">
                </div>

                <div id="menu-top" class="block">
                    <div class="main">
                        <ul>
                            <li><a href="http://benhxahoi.xyz/" title="Phòng khám đa khoa Thái Hà" class="home">Trang chủ</a></li>
                            <li>
                                <a href="/gioi-thieu/" title="Giới thiệu">Giới thiệu</a>
                            </li>
                            <li>
                                <a title="Điều trị" href="#">Điều trị</a>
                                <ul>
                                    <li>
                                        <a href="http://benhxahoi.xyz/"><span>Bệnh xã hội</span></a>
                                        <ul>
                                            <li><a href="/sui-mao-ga.html">Sùi mào gà</a> </li>
                                            <li><a href="/benh-lau.html">Bệnh lậu</a> </li>
                                            <li><a href="/benh-giang-mai.html">Bệnh giang mai</a> </li>
                                            <li><a href="/mun-rop-sinh-duc.html">Mụn rộp sinh dục</a> </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a title="Cơ sở vật chất và dịch vụ">Cơ sở vật chất và dịch vụ</a>
                                <ul>
                                    <li><a title="Cơ sở vật chất" href="/co-so-vat-chat/">Cơ sở vật chất</a></li>
                                    <li><a title="Gói dịch vụ" href="/goi-dich-vu/">Gói dịch vụ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a title="Cẩm nang hướng dẫn" href="#">Cẩm nang hướng dẫn</a>
                                <ul>
                                    <li><a title="Hướng dẫn và chi phí" href="/huong-dan-va-chi-phi/">Hướng dẫn và chi phí</a></li>
                                    <li><a title="Liên hệ" href="/lien-he/">Liên hệ</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
                <div id="banner" class="wrap bg3">
                    <div class="main">
                        <div class="bnrdung">
                            <img src="images/pic1_banner.png">
                            <img src="images/pic2_banner.png">
                            <img src="images/pic3_banner.png">
                            <img src="images/pic4_banner.png">
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="pic-node"><div class="node"><a class="cs_point"></a><a class="cs_point"></a></div></div>
                </div>
                <div class="anhien"><img src="images/mobi.png"></div>
                <nav id="main-menu" class="none">
                    <ul class="main">
                        <li>
                            <a href="/nam-khoa/" title="Nam khoa"><span>Nam khoa</span></a>
                        </li>
                        <li>
                            <a href="/phu-khoa/" title="Phụ khoa"><span>Phụ khoa</span></a>
                        </li>
                        <li>
                            <a href="/benh-tri/" title="Bệnh trĩ"><span>Bệnh trĩ</span></a>
                        </li>
                        <li>
                            <a href="/benh-xa-hoi/" title="Bệnh xã hội"><span>Bệnh xã hội</span></a>
                        </li>
                        <li>
                            <a href="/hoi-nach/" title="Hôi nách"><span>Hôi nách</span></a>
                        </li>
                        <li>
                            <a href="/ke-hoach-hoa-gia-dinh/" title="Kế hoạch hóa gia đình"><span>Kế hoạch hóa gia đình</span></a>

                        </li>
                    </ul>
                </nav>
            </header>
            <div id="trongkhung">
                <div class="wrap xaydung">
                    <div class="main">
                        <img alt="" src="images/pic1.jpg">
                        <div class="xayphai">
                            <p>Phòng khám đa khoa Thái Hà được xây dựng và thành lập bởi ban lãnh đạo có tầm nhìn và đội ngũ y bác sĩ tâm huyết với nghề. Phòng khám luôn tự hào bởi sự nỗ lực phát triển không ngừng nhằm mang tới những điều kiện chẩn đoán và điều trị tốt nhất, không gian nghỉ ngơi, chờ khám thoải mái nhất cho người bệnh. Phòng khám chuyên điều trị các bệnh về phụ khoa, nam khoa, bệnh xã hội, vô sinh hiếm muộn. </p>
                            <p class="imgxay"><img alt="" src="images/line1.png"></p>
                        </div>
                    </div>
                </div>

                <div class="wrap dieugi">
                    <div class="main">
                        <h2><span>điều khiến bạn nên đến với chúng tôi</span></h2>
                    </div>
                </div>

                <div class="wrap bacsigioi">
                    <div class="main">
                        <ul>
                            <li>
                                <p>Bác sỹ giỏi chuyên môn giàu nhân ái</p>
                                <img alt="" src="images/icon1_fix.png">
                                <p>Đội ngũ y bác sĩ và điều dưỡng viên của phòng khám đều là những bậc lương y giỏi chuyên môn và giàu kinh nghiệm khám chữa ở lĩnh vực liên quan. Là những người tâm huyết với nghề, từng được đào tạo hoặc tác nghiệp tại nước ngoài.</p>
                            </li>

                            <li>
                                <p>Công nghệ tiên tiến và vượt trội</p>
                                <img alt="" src="images/icon2_fix.png">
                                <p>Chúng tôi coi trọng tìm tòi và triển khai các công nghệ kỹ thuật tiên tiến, đặc biệt là những công nghệ kiểm tra tinh vi mang tính quốc tế. Hiện nay phần lớn thiết bị và công nghệ chữa trị chúng tôi tin dùng đều đến từ các quốc gia có nền y học phát triển.</p>
                            </li>

                            <li>
                                <p>Dịch vụ tận tâm chu đáo</p>
                                <img alt="" src="images/icon3_fix.png">
                                <p>Với mong muốn mang đến sự thuận tiện và tiết kiệm thời gian tối đa cho bệnh nhân. Phòng khám đã cho xây dựng hệ thống các dịch vụ từ tư vấn hướng dẫn, chẩn đoán điều trị tới chăm sóc sau điều trị.</p>
                            </li>

                            <li>
                                <p>Môi trường thân thiện</p>
                                <img alt="" src="images/icon4_fix.png">
                                <p>Phòng khám được thiết kế, bố trí tổng thể dựa trên các yêu cầu về tiêu chuẩn phòng khám tư được ban hành bởi bộ y tế. Ngoài ra Phòng Khám Đa Khoa Thái Hà cũng đặc biệt quan tâm tới yếu tố tâm lý người bệnh với mong muốn tạo một không gian khám chữa tiện nghi thoải mái và ấm áp cho người bệnh.</p>
                            </li>

                            <li>
                                <p>Chi phí tối ưu</p>
                                <img alt="" src="images/icon5_fix.png">
                                <p>100% chi phí của chúng tôi đều công khai, minh bạch và được nhập hệ thống cẩn thận. Bác sỹ sẽ đưa ra chi phí điều trị dự kiến cùng các liệu trình điều trị. Người bệnh có quyền lựa chọn liệu trình phù hợp nhất với điều kiện kinh tế và tính chất công việc của mình.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="wrap camket">
                    <div class="main">
                        <h2><span>Cam kết của chúng tôi</span></h2>
                        <div class="phuongcham">
                            <p><img alt="" src="images/dau.png"> 100% chi phí của chúng tôi đều công khai, minh bạch và được nhập hệ thống cẩn thận. Bác sỹ sẽ đưa ra chi phí điều trị dự kiến cùng các liệu trình điều trị. Người bệnh có quyền lựa chọn liệu trình phù hợp nhất với  điều kiện kinh tế và tính chất công việc của mình.</p>
                            <img alt="" src="images/pic2.jpg">
                        </div>
                        <div class="cuxu">
                            <ul>
                                <li>
                                    <img alt="" src="images/pic3.jpg">
                                    <p>Cư xử bình đẳng, nhân ái, lịch sự, tôn trọng</p>
                                </li>

                                <li>
                                    <img alt="" src="images/pic4.jpg">
                                    <p>Tận tụy, cẩn thận, nhiệt tình, chu đáo, tất cả vì người bệnh</p>
                                </li>

                                <li>
                                    <img alt="" src="images/pic5.jpg">
                                    <p>Tận tình giải thích tình hình sức khỏe người bệnh cũng như kế hoạch điều trị cụ thể</p>
                                </li>

                                <li>
                                    <img alt="" src="images/pic6.jpg">
                                    <p>Cung cấp các kỹ thuật chữa trị và dịch vụ chăm sóc y tế tốt nhất</p>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <img alt="" src="images/pic7.jpg">
                                    <p>Thông báo đầy đủ thông tin bệnh tình, không che giấu</p>
                                </li>

                                <li>
                                    <img alt="" src="images/pic8.jpg">
                                    <p>Tôn trọng quyền được biết, quyền riêng tư của bệnh nhân</p>
                                </li>

                                <li>
                                    <img alt="" src="images/pic9.jpg">
                                    <p>Thông báo các chi phí khám chữa liên quan trước khi tiến hành quá trình điều trị</p>
                                </li>

                                <li>
                                    <img alt="" src="images/pic10.jpg">
                                    <p>Luôn lắng nghe những ý kiến đóng góp chia sẻ và phàn nàn từ phía người bệnh</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="wrap nguyentac">
                    <div class="main">
                        <h2><span>nguyên tắc khám chữa</span></h2>
                        <div class="uutien">
                            <img alt="" src="images/bg_bs.png">
                            <div class="uutienphai">
                                <ul>
                                    <li>
                                        <p>Ưu tiên giải quyết các trường hợp đăng ký trước hoặc bệnh đang nguy kịch.</p>
                                    </li>

                                    <li>
                                        <p>Luôn tuân thủ theo quy định của phòng khám trong quá trình khám chữa và xử lý thủ tục hành chính.</p>
                                    </li>

                                    <li>
                                        <p>Không nhận hối lộ, không ưu tiên do có quan hệ móc nối.</p>
                                    </li>

                                    <li>
                                        <p>Lịch sự, ân cần trả lời các câu hỏi của bệnh nhân và người nhà bệnh nhân.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="wrap sukhacbiet">
                    <div class="main">
                        <h2><span>sự khác biệt của thái hà</span></h2>
                        <div style="background:#1597A7;padding:15px;color:#fff;margin-top:30px;">Dịch vụ chăm sóc chu đáo: Ngoài các công tác chăm sóc trước và trong quá trình khám - điều trị, Phòng Khám Đa Khoa Thái Hà còn cung cấp những bữa ăn dinh dưỡng miễn phí để bệnh nhân có thể mau chóng phục hồi, đồng thời cảm nhận được sự quan tâm an ủi chân thành từ Phòng Khám Đa Khoa Thái Hà.</div>
                        <ul class="khacbiet">
                            <li>
                                <img alt="" src="images/icon_1.png">
                                <div class="khactrong">
                                    <p>Dịch vụ phản hổi nhanh chóng:</p>
                                    <p>Do mọi công tác quản lý đều được quản lý bởi hệ thống thông minh nên người bệnh có thể hoàn toàn chủ động và thuận tiện khi nhận kết quả chẩn đoán, kết quả xét nghiệm, kiểm tra của mình, vơi bớt sự bồn chồn lo lắng khi chờ đợi.</p>
                                </div>
                            </li>

                            <li>
                                <img alt="" src="images/icon_2.png">
                                <div class="khactrong">
                                    <p>Phục vụ liên tục:</p>
                                    <p>
                                        - Phòng khám phục vụ 365 ngày/năm</br>
                                        - Đặc biệt khám chữa bệnh khi có hẹn trước ngoài giờ hành chính.
                                    </p>
                                </div>
                            </li>

                            <li>
                                <img alt="" src="images/icon_3.png">
                                <div class="khactrong">
                                    <p>Bác sỹ, y tá thân thiện, tâm lý:</p>
                                    <p>Bác sỹ và y tá, điều dưỡng viên luôn sẵn sàng lắng nghe những tâm tư nguyện vọng của người bệnh, quan tâm tới những thay đổi của người bệnh và đưa ra những lời khuyên hữu ích.</p>
                                </div>
                            </li>

                            <li>
                                <img alt="" src="images/icon_4.png">
                                <div class="khactrong">
                                    <p>Môi trường khám chữa sạch đẹp, ấm áp:</p>
                                    <p>Môi trường khám chữa có ảnh hưởng rất lớn tới chất lượng điều trị và tâm lý người bệnh, vậy nên chúng tôi đã tạo dựng một không gian thoáng mà ấm áp, khiến người bệnh có cảm giác như đang ở nhà.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="wrap quanly">
                    <div class="main">
                        <h2><span>Công tác quản lý quán triệt và thống nhất</span></h2>
                        <div class="quanlychung">
                            <div class="quanlytrai">
                                <p>Hệ thống thông minh "Chính xác – Chặt chẽ - Bảo mật" được sử dụng để quản lý đa phương diện.</p>
                                <p>Phương diện tiếp nhận bệnh nhân.</p>
                                <p><img alt="" src="images/logo_2.png"></p>
                                <p>Phương diện quản lý thuốc</p>
                                <p>Phương diện thu phí</p>
                                <p>Phương diện quản lý cận lâm sàng</p>
                                <p>Phương diện khám bệnh</p>
                            </div>
                            <div class="quanlyphai">
                                <p>Phòng Khám Đa Khoa Thái Hà hiện đang áp dụng đồng nhất hệ thống quản lý thông minh cho toàn bộ quá trình từ khi tiếp nhận bệnh nhân tới khi phân tích và đóng bệnh án.</p>
                                <img alt="" src="images/bg_bs2.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap bg6">
                <div class="bn6">
                    <a href="http://tuvan.phongkhamthaiha.com/LR/Chatpre.aspx?id=KRI83907310&lng=en" title="Bác sĩ tư vấn" rel="nofollow"></a>
                </div>
            </div>

            <footer id="footer">
                <div class="footerbg1">
                    <div class="main">
                        <a href="tel:01665115116" title="01665115116" rel="nofollow">
                            <div class="col"><img alt="Bác sĩ tư vấn" src="images/tel_footer.png"></div>
                        </a>
                        <a href="http://tuvan.phongkhamthaiha.com/LR/Chatpre.aspx?id=KRI83907310&lng=en" title="Tư vấn" rel="nofollow">
                            <div class="col"><img alt="Bác sĩ tư vấn" src="images/chat.png"></div>
                        </a>
                        <a title="Đăng ký khám" rel="nofollow" class="dangkykham" onclick="div_show()">
                            <div class="col"><img alt="Bác sĩ tư vấn" src="images/datlichkham.png"></div>
                        </a>
                        <a href="https://www.google.com/maps/place/11+Th%C3%A1i+H%C3%A0,+Trung+Li%E1%BB%87t,+%C4%90%E1%BB%91ng+%C4%90a,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0106569,105.82231,17z/data=!3m1!4b1!4m2!3m1!1s0x3135ab7df0f6a08b:0xfec7f87c8f464862" target="_blank" title="Bản đồ phòng khám" rel="nofollow">
                            <div class="col"><img alt="Bác sĩ tư vấn" src="images/chiduong.png"></div>
                        </a>
                    </div>
                </div>
                <div class="footerbg2">
                    <div class="main">
                        <div class="left-footer">
                            <div class="contact">
                                <div class="top"><p>Liên hệ:</p></div>
                                <div class="line"></div>
                                <p class="clear"></p>
                                <p>Tư vấn: <span>01665 115 116 - 01665 116 117</span></p>
                                <p>Email: phongkhamthaiha@gmail.com</p>
                            </div>
                            <div class="register">
                                <div class="top"><p>Đăng ký khám:</p></div>
                                <div class="line"></div>
                                <p class="clear"></p>
                                <form action="send.php" method="post">
                                    <div class="row-form">
                                        <label>Họ và tên</label>
                                        <input type="text" id="hoten3" required="required" value="" name="hoten" class="title-input">
                                    </div>
                                    <div class="row-form">
                                        <label>Điện thoại</label>
                                        <input type="text" id="sdt3" required="required" value="" name="sdt" class="title-input">
                                    </div>
                                    <div class="row-form">
                                        <label>Biểu hiện bệnh</label>
                                        <input type="text" id="benh3" required="required" value="" name="benh" class="title-input">
                                    </div>
                                    <div class="row-form">
                                        <label>Ngày hẹn khám</label>
                                        <div class="sec">
                                            <select id="date" name="date">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">8</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="21">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                                <option value="28">28</option>
                                                <option value="29">29</option>
                                                <option value="30">30</option>
                                                <option value="31">31</option>
                                            </select>
                                            <select id="month" name="month">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <select id="year" name="year">
                                                <option value="2015">2015</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn-register">
                                        Đặt hẹn khám
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="map">
                            <a target="_blank" href="https://www.google.com/maps/place/11+Th%C3%A1i+H%C3%A0,+Trung+Li%E1%BB%87t,+%C4%90%E1%BB%91ng+%C4%90a,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0106569,105.82231,17z/data=!3m1!4b1!4m2!3m1!1s0x3135ab7df0f6a08b:0xfec7f87c8f464862" title="Bản đồ phòng khám"><img alt="Bản đồ phòng khám" src="images/bando.png"></a>
                            <p>Xem bản đồ lớn hơn</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="copyright">Bản quyền thuộc về <a title="Phòng khám Thái Hà" href="http://benhxahoi.xyz/">Phòng khám Thái Hà</a> 2008 - 2015</div>
            </footer>

        </div>
    </div>
    <div style="display: none;" id="showhide">
        <div class="dangphai" id="popupContact">
            <img src="images/close.png" id="close" onclick="div_hide()">
            <div class="upb">Đăng ký khám bệnh</div>
            <p>vui lòng nhập các ô bên dưới để đăng ký khám</p>
            <form action="#" method="post">
                <div><input id="hoten2" name="hoten" type="text" placeholder="Họ Và Tên" required /></div>
                <div><input id="sdt2" name="sdt" type="text" placeholder="Số điện thoại" required /></div>
                <div><input id="mail2" name="mail" type="text" placeholder="Email liên lạc" required /></div>
                <div><textarea id="benh2" name="benh" rows="6" cols="40" placeholder="Triệu chứng bệnh"></textarea></div>
                <div><input id="ngay2" name="ngay" type="text" placeholder="Ngày đăng ký khám" class="datepicker" required /></div>
                <div class="captcha"><input id="captcha12" name="captcha" type="text" placeholder="Nhập mã xác nhận" required /> <img src="captcha.php" class="imcapt" /></div>
                <div><input id="popup2" class="gui" name="submit" type="button" value="gửi đăng ký khám" /></div>
            </form>
        </div>
    </div>
    <script language="javascript" src="http://tuvan.phongkhamthaiha.com/JS/LsJS.aspx?siteid=KRI83907310&float=1&lng=en"></script>
</body>
</html>