<footer id="footer">

    @*<a href="http://www.dmca.com/Protection/Status.aspx?ID=5a265e4a-e836-40d7-ab38-39d7421e8bd1" title="DMCA.com Protection Status" class="dmca-badge"> 
    <img src="//images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=5a265e4a-e836-40d7-ab38-39d7421e8bd1" alt="DMCA.com Protection Status">
    </a>
    <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>*@

    @*<div class="footerbg1"> 
    <div class="main"> 
        <a rel="nofollow" title="01665115116" href="tel:01665115116"> 
        <div class="col"><img src="http://benhxahoi.xyz/public/frontend/images/page/tel_footer.png" alt="Bác sĩ tư vấn" /></div> </a> 
        
        <a rel="nofollow" title="Tư vấn" href="http://tuvan.phongkhamthaiha.com/LR/Chatpre.aspx?id=KRI83907310&lng=en"> 
        <div class="col"><img src="http://benhxahoi.xyz/public/frontend/images/page/chat.png" alt="Bác sĩ tư vấn" /></div> </a> 
        
        <a class="dangkykham" rel="nofollow" title="Đăng ký khám" onclick="div_show()"> 
        <div class="col"><img src="http://benhxahoi.xyz/public/frontend/images/page/datlichkham.png" alt="Bác sĩ tư vấn" /></div> </a> 
        
        <a rel="nofollow" title="Bản đồ phòng khám" href="https://www.google.com/maps/place/11+Th%C3%A1i+H%C3%A0,+Trung+Li%E1%BB%87t,+%C4%90%E1%BB%91ng+%C4%90a,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0106569,105.82231,17z/data=!3m1!4b1!4m2!3m1!1s0x3135ab7df0f6a08b:0xfec7f87c8f464862"> 
        <div class="col"><img src="http://benhxahoi.xyz/public/frontend/images/page/chiduong.png" alt="Bác sĩ tư vấn" /></div> </a> 
        </div> 
    </div>*@    
    <div class="footerbg2"> 
    <div class="main"> 
        <div class="left-footer"> 
        <div class="contact"> 
            <div class="top">
            <p>Liên hệ:</p></div> 
            
            <div class="line"></div> 
            <p class="clear"></p> 
            <p>Điện thoại: <span>0439 971 868</span></p> 
            <p>Email: seikenint@gmail.com</p> 
            </div> 
        
        @*<div class="register"> 
            <div class="top">
            <p>Đăng ký khám:</p>
            </div> 
            
            <div class="line"></div> 
            <p class="thongbao-lienhe"></p> 
            
            <form id="contact-form-footer"> 
            <div class="row-form"> 
                <label>Họ và tên</label> 
                
                <input type="text" id="hoten3" required="required" value="" name="hoten" class="title-input"> </div> 
            
            <div class="row-form"> 
                <label>Điện thoại</label> 
                <input type="text" id="sdt3" required="required" value="" name="sdt" class="title-input"> </div> 
            
            <div class="row-form"> 
                <label>Biểu hiện bệnh</label> 
                <input type="text" id="benh3" required="required" value="" name="benh" class="title-input"> </div> 
            
            <div class="row-form"> 
                <label>Ngày hẹn khám</label> 
                <select name="date" id="date"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
                <option value="9">8</option> 
                <option value="10">10</option> 
                <option value="11">11</option> 
                <option value="12">12</option> 
                <option value="13">13</option> 
                <option value="14">14</option> 
                <option value="15">15</option> 
                <option value="16">16</option> 
                <option value="17">17</option> 
                <option value="18">18</option> 
                <option value="19">19</option> 
                <option value="21">20</option> 
                <option value="21">21</option> 
                <option value="22">22</option> 
                <option value="23">23</option> 
                <option value="24">24</option> 
                <option value="25">25</option> 
                <option value="26">26</option> 
                <option value="27">27</option> 
                <option value="28">28</option> 
                <option value="29">29</option> 
                <option value="30">30</option> 
                <option value="31">31</option> 
                </select> 
                
                <select name="month" id="month"> 
                <option value="1">1</option> 
                <option value="2">2</option> 
                <option value="3">3</option> 
                <option value="4">4</option> 
                <option value="5">5</option> 
                <option value="6">6</option> 
                <option value="7">7</option> 
                <option value="8">8</option> 
                <option value="9">9</option> 
                <option value="10">10</option> 
                <option value="11">11</option> 
                <option value="12">12</option> 
                </select> 
                
                <select name="year" id="year"> 
                <option value="2016">2016</option> 
                </select> 
                </div> 

            <button class="btn-register" type="button"> Đặt hẹn khám </button> 
            </form> 
            </div>*@ 
        </div> 
        
        @*<div class="map"> 
        <a target="_blank" href="https://www.google.com/maps/place/11+Th%C3%A1i+H%C3%A0,+Trung+Li%E1%BB%87t,+%C4%90%E1%BB%91ng+%C4%90a,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0106569,105.82231,17z/data=!3m1!4b1!4m2!3m1!1s0x3135ab7df0f6a08b:0xfec7f87c8f464862" title="Bản đồ phòng khám"> 
            <img src="http://benhxahoi.xyz/public/frontend/images/bando.png" alt="Bản đồ phòng khám" /> 
            <p>Xem bản đồ lớn hơn</p> </a> 
        </div>*@ 
        <div class="clear"></div> 
        </div> 
    </div>   
      
    <div class="copyright">
        Copyright © 2017 Seiken. All rights reserved. 
    </div>
</footer>  