<div class="mobile-menu">
    <ul class="menu">
        <li><a title="Trang Chủ" href="/"></a></li>
        <li><a href="/ve-chung-toi/" title="Về chúng tôi">Về chúng tôi</a></li>
        <li><a href="/lien-he/" title="Liên hệ">Liên hệ</a></li>
        @*@{Html.RenderAction("_MainMenu", "Home_PartialView");}*@
    </ul>
    <div class="dieutri"><span>Điều trị ung thư</span></div>
    <div class="category-list">
        <ul>
            <li><div class="category-title"><h3>PHƯƠNG PHÁP ĐIỀU TRỊ</h3></div>
            <div class="list">
                <ul>
                    <li><a title="Điều trị ung thư bằng phương pháp miễn dịch tế bào AICT" href="/danhmuc/mien-dich-te-bao-aict/"><span>Miễn dịch tế bào AICT</span></a></li>
                    <li><a title="Chữa trị tại Nhật Bản" href="/danhmuc/chua-tri-tai-nhat-ban/"><span>Chữa trị tại Nhật Bản</span></a></li>                      
                </ul>
            </div>
            </li>
            <li><div class="category-title"><h3>BỆNH UNG THƯ PHỔ BIẾN</h3></div>
            <div class="list">
                <ul>
                    <li><a title="Bệnh ung thư vòm họng" href="/danhmuc/ung-thu-vom-hong/"><span>Ung thư vòm họng</span></a></li>
                    <li><a title="Bệnh ung thư cổ tử cung" href="/danhmuc/ung-thu-co-tu-cung/"><span>Ung thư cổ tử cung</span></a></li>
                    <li><a title="Bệnh ung thư vú" href="/danhmuc/ung-thu-vu/"><span>Ung thư vú</span></a></li>
                    <li><a title="Bệnh ung thư phổi" href="/danhmuc/ung-thu-phoi/"><span>Ung thư phổi</span></a></li>
                    <li><a title="Bệnh ung thư đại trực tràng" href="/danhmuc/ung-thu-dai-truc-trang/"><span>Ung thư đại trực tràng</span></a></li>

                </ul>
            </div>
            </li>
        </ul>

    </div>
</div>