<div id="support">
    <div id="top-sp">
        <img id="img1" src="~/Content/Images/support.gif" alt="icon support">
        <h4>Hỗ trợ trực tuyến</h4>
        <a class="img2">&nbsp;</a>
    </div>
    <div id="body-sp">     
        @{Html.RenderAction("_Support", "Home_PartialView");}
    </div>
</div>

