<section>
    
    <div id="toplove">
        <h1>Các bệnh ung thư thường gặp hiện nay</h1>
        <nav id="menu-mainkey">
            <div class="main">
                <ul>
                    <li><a href="/" title="Ung thư vòm họng">Ung thư vòm họng</a></li>
                    <li><a href="/" title="Ung thư vú">Ung thư vú</a></li>
                    <li><a href="/" title="Ung thư phổi">Ung thư phổi</a></li>
                    <li><a href="/" title="Ung thư cổ tử cung">Ung thư cổ tử cung</a></li>
                    <li><a href="/" title="Ung thư dạ dày">Ung thư dạ dày</a></li>
                    <li><a href="/" title="Ung thư đại trực tràng">Ung thư đại trực tràng</a></li>
                    <li><a href="/" title="Ung thư da">Ung thư da</a></li>
                    <li><a href="/" title="Ung thư gan">Ung thư gan</a></li>                    
                    <li><a href="/" title="Ung thư máu">Ung thư máu</a></li>
                    <li><a href="/" title="Ung thư tuyến giáp">Ung thư tuyến giáp</a></li>
                    <li><a href="/" title="Ung thư thực quản">Ung thư thực quản</a></li>
                    <li><a href="/" title="Ung thư tuyến tiền liệt">Ung thư tuyến tiền liệt</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </nav>
        </div>

        <article id="desc">
            @*<h1 style="position:relative;left:-9999px">Các bệnh xã hội thường gặp hiện nay</h1>*@
            <div class="main">
                <div class="pic"> <img src="~/Content/Images/icon1.png" alt="Bệnh xã hội" /> </div>

                <div class="details">
                    <p>
                    Tại Việt Nam, với môi trường sống ngày càng ô nhiễm, vấn đề đảm bảo vệ sinh an toàn thực phẩm ở tình trạng không an toàn, 
                    lối sống không lành mạnh của người dân khiến cho ca mắc bệnh ung thư tăng nhanh một cách đáng báo động. 
                    Ung thư chính thức đã trở thành một trong những nguyên nhân gây tử vong hàng đầu tại Việt Nam cũng như trên toàn thế giới. 
                        Đến lúc này, chúng ta đã có thể gọi ung thư là "căn bệnh thế kỷ" - cơn ác mộng cho toàn xã hội.
                      </p>
                </div> <div class="clear"></div>
            </div>
        </article>

        <article id="nguyennhan">
            <h2>VÌ SAO UNG THƯ GỌI TÊN BẠN? <p class="nguyennhan-p">“Nguyên nhân để căn bệnh ung thư gõ cửa nhà bạn?"</p> </h2>

            <div class="cols">
                <div class="main">
                    <div class="col"> <img src="Content/Images/icon2.png" /><p>Đột biến gen do rối loạn di truyền</p> </div>                    
                    <div class="col"> <img src="Content/Images/icon2.png" /> <p>Chế độ ăn uống và lối sống</p> </div>
                    <div class="col"> <img src="Content/Images/icon2.png" /> <p>Môi trường sống bị ô nhiễm</p> </div>
                    <div class="col"> <img src="Content/Images/icon2.png" /> <p>Tác nhân vật lý: Bức xạ ion hóa từ các chất phóng xạ tự nhiên</p> </div>
                    <div class="col"> <img src="Content/Images/icon2.png" /> <p>Tác nhân vật lý: Bức xạ cực tím - ánh nắng mặt trời </p> </div>
                    <div class="col"> <img src="Content/Images/icon2.png" /> <p>Tác nhân hóa học: Nhiễm độc hóa chất</p> </div>
                    <div class="col"> <img src="Content/Images/icon2.png" /> <p>Tác nhân sinh học: nhiễm trùng, vi trùng, vi khuẩn, ký sinh trùng, virus...</p> </div>
                    <div class="col"> <img src="Content/Images/icon2.png" /> <p>Tác nhân hóa học: Thuốc lá</p> </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="arrow"><img src="~/Content/Images/arrow.png" /></div>
            <div class="lays">
                <div class="main">
                    <div class="layodd"> 
                    <img src="~/Content/Images/pic1b.png" />                 
                    <p style="background:#e5b65c">ABCABCABCABC</p>  </div>
                    
                    <div class="layeven"> <p style="background:#dd9fa2">ABCABCABCABC</p> 
                    <img src="~/Content/Images/pic2b.png" /> 
                    </div>
                    <div class="layodd"> 
                    <img src="~/Content/Images/pic3b.png" /> 
                    <p style="background:#8cbc48">ABCABCABCABC</p> </div>
                    
                    <div class="layeven"> <p style="background:#5dc7e2">ABCABCABCABC</p> 
                    <img src="~/Content/Images/pic4b.png" /> 
                    </div>

                    <div class="layodd"> 
                    <img src="~/Content/Images/pic5b.png" /> 
                    <p style="background:#bc8eea">ABCABCABCABC</p> </div>
                    <div class="clear"></div>
                </div>
            </div>
        </article>

</section>