<div class="ui-corner-top ui-corner-bottom">
    <div id="toolbox">

        <div style="float: right;" class="toolbox-content">

            <table class="toolbar">
                <tr>
                    <td align="center">
                        <button type="submit" class="toolbar btn btn-info"><i class="icon-save"></i>&nbsp;Ghi lại</button>
                    </td>
                    <td align="center">
                        <a title="Quay lại" class="toolbar btn btn-info" href="javascript:history.go(-1)"><i class="icon-chevron-left"></i>&nbsp;Trở về</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>