@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Rico.Models.Price>
@{
    ViewBag.Title = "Báo giá";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles
{
    <!--Sử dụng cho Confirm delete-->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!--Sử dụng cho Phân trang-->
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

@section Scripts
{
    <!-- Ajax sử dụng cho phân trang  -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <!--Sử dụng cho Confirm delete-->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.easy-confirm-dialog.js"></script>
}
<script type="text/javascript">
        $(document).ready(function () {
            $(".deletemultiple").easyconfirm({
                locale: { title: 'Xóa nhiều', button: ['Không', 'Có'] }
            });
        })
</script>

<script type="text/javascript">
    $(function () {
        $(".alert").hide();
    });
</script>


@using (Html.BeginForm("MultiCommand", "Price", FormMethod.Post))
{
    <div class="container-fluid">
        <div style="width: 100%; margin: 0 auto;">
            <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
                <ul>                  
                    <li class='SecondLast'><a href='/admin/default'><i class="icon-home" style="font-size: 14px;"></i>Trang quản trị</a></li>
                    <li class='Last'><a href='/admin/bao-gia'>Báo giá</a></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
            <div id="cph_Main_ContentPane">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-list-alt"></i>&nbsp;Báo giá</h4>
                        <!-- begin menu -->
                        @Html.Partial("_RightNav")
                        <!-- end menu -->

                        <div id="hiddenToolBarScroll" class="scrollBox hidden">
                            <h4>
                                <i class="icon-list-alt"></i>&nbsp;Báo giá</h4>
                            <div class="FloatMenuBar">

                                <!-- begin menu -->
                               @Html.Partial("_RightNav")
                                <!-- end menu -->


                            </div>
                        </div>
                    </div>
                    <div class="widget-body">          
                        @{Html.RenderPartial("_Data", Model);}

                    </div>
                </div>
            </div>

        </div>
    </div>
}